* {
  box-sizing: border-box;
}

body {
  background-color: #e2efff;
}

h2 {
  background-color: #66b85c;
  color: white;
  padding: 18px;
}

.App {
  padding: 30px;
  background-color: #dddddd61;
  width: 80%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 7px 7px #68bedd
}

input {
  width: 93%;
  border: 0;
  padding: 10px 10px;
  background-color: #fff1f1;
  font-size: 20px;
  outline: none;
}

button {
  width: 7%;
  border: 0;
  padding: 10px 0;
  font-size: 20px;
  margin: 0;
  outline: 0;
  background-color: #68bedd;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 0;
}

li span {
  display: inline-block;
  font-size: 20px;
  width: 85.5%;
  padding-left: 3px;
  text-transform: capitalize;
}

li > button:last-of-type {
  background-color: #d25552;
  margin-left: 2px;
}

button.update {
  background-color: #5b88c0;
}

p {
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}
